/*Fonts*/

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400italic);

@import url(https://fonts.googleapis.com/css?family=Raleway:300);

@font-face {
  src: url("../fonts/Montserrat-Regular.otf");
  font-family: "Montserrat-Regular";
}


/* End fonts */

body {
  font-family: "Montserrat-Regular", sans-serif;
  /* background: red; */
  /*font-weight: 900;*/

}

h1 {
  margin: 0px;
  padding: 0px;
}
ul {
  padding: 0;
  margin: 0;
}
li {
	list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/*Header*/

.header {
	background-image: url(../img/bg.jpg);

  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  /* margin-bottom: 600px; */
}

	.header__top {
		/*color: red;*/
		display: flex;
		justify-content: space-between;
    align-items: center;
    padding-top: 30px;
	}

		.header__logo {
		}

		.header__nav {
      width: 550px;
		}

		.header__nav__items {
			display: flex;
      justify-content: space-between;
		}

      .header__nav__item {
        display: inline;
        border-color: transparent;
        color: #fff;
        padding-bottom: 3px;
      }

        .header__nav__item:hover {
          transition: color 0.5s, border-color 0.5s;
          color: #fff;
          border-bottom: 2px solid #fff;
          padding-bottom: inherit;
        }

      .header__nav__item__current {
        color: #fff;
        border-bottom: 2px solid #fff;
        padding-bottom: 0px;

      }

      /* Toggle */
      .header__toggle {
        font-family: 'Montserrat-Regular', sans-serif;
        display: none;
        color: #fcfcfc;
        font-size: 1.8em;
      }

	.header__content {
    margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
    position: relative;

    /* Временно */
    padding-top: 100px;
    padding-bottom: 100px;
	}

		.header__content__title {
      text-align: center;
      font-family: 'Playfair Display', serif;
      font-weight: 100;
      font-size: 45px;
      color: #fcfcfc;
      margin-bottom: 1em;
		}

		.header__content__subtitle {
      color: #fcfcfc;
      font-family: 'Raleway', sans-serif;
      font-weight: 100;
      font-size: 24px;
      margin: 30px 0 25px 0;
		}

		.header__button {
      font-family: 'Montserrat-Regular', sans-serif;
      font-weight: 600;
      text-transform: uppercase;
			padding: 17px 27px;

      border: 2px solid #fcfcfc;
      color: #fcfcfc;
      letter-spacing: 0.8px;
      transition: background-color 0.5s, color 0.5s;
		}
    .header__button:hover {
      color: #0c0c0c;
      background-color: #fcfcfc;
    }

    /* .main__service__block {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      position: absolute;
      top: 350px;
      width: 80%;
      margin: 0 auto;
      margin-top: 35px;
      margin-bottom: 35px;
      text-align: center;
      border-radius: 2px;
      box-shadow: 0 0px 0px 0 rgba(0,0,0,0.14), 0 0px 0px 0px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);;
    } */

    .main__service {
      padding-bottom: 60px;

    }

    .main__service__title {
      text-align: center;
      padding-top: 50px;
      font-family: 'Playfair Display', serif;
      font-weight: 100;
      font-size: 32px;
      margin-bottom: 0px;
    }

    /* Main Service List */

    .main__service__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      /* width: 100%; */
    }

      .main__service__item {
        /* margin: 0 auto; */
        text-align: center;
        position: relative;
        flex-basis: 30%;
        transition: background-color 0.7s;
      }

      .main__service__item img {
        width: 50%;
      }

      .main__service__item:hover {
        background-color: #ededed;

      }
      .main__service__item:hover hr {
        transition: all 0.3s;
        color: #ffb932;
        background-color: #ffb932;


        }

        .main__service__img {
          margin: 0 auto;
          padding-top: 20px;
          width: 30px;
          /* margin-bottom: 60px; */
        }

        .main__service__item__title {
          /* margin-top: 60px; */
          font-family: 'Raleway', sans-serif;
          font-weight: 900;
        }

        .main__service__item__text {
          font-family: 'Raleway', sans-serif;
          font-weight: 500;
          /* Поменять размер шрифта в em */
          font-size: 13px;
          color: #474747;
        }

        .main__service__item__line {
          margin: 0 auto;
          margin: 30px auto;
          width: 65px;
          border: none;
          background-color: #000;
          color: #000;
          height: 2px;

        }

    /* end of Main Service List */

    /*End of Header */

    /* Main */

    .main {
      width: 100%;
    }
      /* Servce Section */

      .main__service {
        width: 100%;
        /* text-align: center; */
        /* margin: 0 auto; */
      }

    /* BG Line */

    .main__bg-line {
      background: url(../img/bg_line.jpg);
      height: 230px;
      width: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;

      display: flex;
      align-items: center;
      align-content: center;

      position: relative;
    }
    .main__bg-line::after {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      content: '';
    }
      .main__bg-line .container {
        z-index: 1;
      }
      .bg-line__text {
        margin: 0 auto;

        color: #e9e9e9;
        font-family: 'Playfair';
        font-weight: 100;
        letter-spacing: 1px;
        font-size: 23px;
        text-align: center;
      }

    /* end of BG Line */

    /* Main Gallery */

    .main__gallery {
      margin-top: -27px;
      background-color: #ededed;
      padding-bottom: 30px;
    }

      .gallery__menu {
        display: flex;
        justify-content: center;
      }

        .gallery__menu__item {
          margin: 15px;
          margin-top: -15px;
        }

      .gallery__img__block {
        margin-top: 0px;
        padding-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
        .gallery__img__item {
          margin: 10px;
        }

        .main__gallery__view-all {
          margin: 0 0;
          text-align: center;

          color: #131313;

          /* Поменять px на em */
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 1px;

          /* Поменять на нормальные значения */
          padding-top: 15px;
          padding-bottom: 45px;
        }


    /* End of Main Gallery */

    /* Partners */

      .main__partners {
      }

        .partners__list {
          display: flex;
          justify-content: center;
          padding: 60px 0 60px 0;
        }

          .partners__list__item img {
            width: 100%;
            filter: grayscale(100%);
            transition: filter 0.5s;
          }
          .partners__list__item:hover img {
            filter: grayscale(0%);
          }


    /* End of  Parnters */

    /* About Me */

    .main__about {
      background: url(../img/about/bg.jpg);
      filter: grayscale(50%);
      height: 550px;
      width: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;

      display: flex;
      align-items: center;
      align-content: center;

      position: relative;
      color: #fff;
    }

      .main__about .container {
        z-index: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .main__about::after {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        content: '';
        /* z-index: -1; */

      }

      .main__about h2 {

      }

      .main__about__img {
        width: 200px;
        border-radius: 50%;
        border: 2px solid rgba(244, 177, 48, 0.5);
        /* filter: grayscale(100%); */

      }

      .main__about__text {
        font-family: 'Montserrat-Regular';
        font-weight: 550;
        font-size: 1.5em;
        padding-top: 20px;
        margin-bottom: 10px;
        text-align: center;
      }
    .about__contacts {
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }
    .about__contacts i {
      font-size: 1.8em;
      padding: 10px;
      margin-top: 0px;
    }

    .about__contacts a:hover {
      transition: all 0.3s;
      background-color: #fff;
      color: #171717;
    }
    /* End of About Me */


    /* Instagram Section */
      .main__instagram {
        display: none;
        margin-top: -27px;
        /* margin-bottom: -17px; */
        padding-bottom: 57px;
        background-color: #ededed;
      }

      .main__instagram__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

        .main__instagram__item {
          padding: 10px;
        }

        .main__instagram__item img {
          width: 250px;
          height: 250px;
        }

    /* End of Instagram Section */

    /* hr */
    hr {
      width: 70px;
      color: #7f7f7f;
      background-color: #7f7f7f;
      border: none;
      height: 2px;
      margin-right: 10px;
      margin-left: 10px;
    }

    .main__service__line {
      margin: 0 auto;
      width: 160px;
      display: flex;
      align-items: center;
      font-family: 'Playfair Display', serif;
      font-weight: 100;
      font-size: 32px;
      padding-bottom: 35px;
    }

    .main__service__subtitle {
      text-align: center;
      color: #4a4a4a;
      font-family: 'Raleway', sans-serif;
      font-weight: 500;
      margin: 0 10%;
      margin-bottom: 30px;
    }



  /* End of Service Section */

/* End of Main */

/* Footer  */

  .footer {
      /* background: url(../img/footer/bg.jpg); */
      background-color: #171717;
      /* height: 170px; */
      width: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;

      position: relative;
      color: #fff;
  }

    /* .footer::after {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      content: '';
    } */

      .footer .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 35px 0 35px 0;
      }

        .footer__social {
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;

          margin: 15px 0 15px 0;
        }

          .footer__social a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 6px;
            margin: 6px;
            /* border: 2px solid #fff; */
            font-size: 1.9em;
            width: 25px;
            height: 25px;
          }

          .footer__social a:hover {
            transition: all 0.3s;
            background-color: #fff;
            color: #171717;
          }

        .footer__img {
          width: 5em;
          margin-bottom: 1.3em;
        }

/* End of Footer */


/* Media Requests */

@media screen and (max-width: 1155px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .gallery__img__block li.gallery__img__item:nth-child(-n+2) {
    display: none;
  }

}

@media screen and (max-width: 1299px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

}
@media screen and (max-width: 768px) {

    .container {
      width: 90%;
      margin: 0 auto;
    }

    .header__nav {
      /* align-items: flex-end; */
      /* align-content: flex-end; */
      position: relative;
    }

    .header__nav__items {
      display: none;
      flex-direction: column;
      text-align: right;
      position: absolute;
      right: 0px;
      top: 1px;
    }

      .header__nav__item {
          margin-bottom: 12px;
          border: 1px solid #fefefe;
          background-color: rgba(0, 0, 0, 0.9);
          padding: 9px 15px;
          z-index: 1;
      }
        .header__nav__item:hover {
          border: 1px solid #ffb932;
          padding: 9px 15px;


        }

        .header__nav__item__current {
          border: 1px solid #fcfcfc;
        }


    .header__toggle {
        display: block;
        color: #fff;
    }

}

/* 555 */

@media screen and (max-width: 555px) {
    .gallery__img__item {
      width: 100%;
    }
    .gallery__img__item img {
      width: 100%;
    }

}

/* 480px */
@media screen and (max-width: 480px) {
  .container {
    width: 95%;
  }

  /* Navigation */

  .header__toggle {
    padding-right: 10px;
  }

  /* End of Navigation */

  /* Services */

  .main__service__list {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

    .main__service__item {
      padding-bottom: 10px;
      margin-bottom: 2.3em;
    }

    .main__service__list li:last-child {
      /* display: none; */
    }

  /* End of Services */

  /* Gallery */

  .gallery__img__item {
    width: 100%;
  }
  .gallery__img__item img {
    width: 100%;
  }

  /* End of Gallery */
}
/* End of Media Requests */
